body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container .instagram-logo {
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #883399, #4a5598, #009688);
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .instagram-logo::before,
.login-container .instagram-logo::after {
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.login-container .instagram-logo::before {
    transform: rotate(-45deg);
}

.login-container .instagram-logo::after {
    transform: rotate(45deg);
}

.login-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #2684f2;
}

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 45%;
    background-color: #ccc;
    top: 50%;
    transform: translateY(-50%);
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
